<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_box">
    <link name="object_base_link">
    </link>

    <joint name="object_base_joint" type="fixed">
        <parent link="object_base_link"/>
        <child link="object_link"/>
        <axis xyz="0 0 1" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="object_link">
        <inertial>
            <origin xyz="0 0 0" />
            <mass value="1.0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="100.0" iyz="0.0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.04 0.04 0.08" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.04 0.04 0.08" />
            </geometry>
        </collision>
    </link>

    <gazebo reference="object_base_link">
        <gravity>0</gravity>
    </gazebo>

    <gazebo reference="object_link">
        <material>Gazebo/Blue</material>
    </gazebo>
</robot>